@model MyPortfolio_MVC.Models.TblExpertis
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Oluştur</h2>

<form method="post">

    <label>Yeni Uzmanlık Alanı Giriniz </label>


        <input type="text" name="Title" class="form-control" />

        <br />

        <button class="btn btn-primary">Kaydet</button>


</form>