@model List<MyPortfolio_MVC.Models.TblExpertis>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h2>Uzmanlık Alanları</h2>


<table class="table table-bordered table-hover">

    <tr>
        <td>Id</td>
        <td>Uzmanlık Alanı</td>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>

            <td>@count</td>
            <td>@item.Title</td>
            <td>
                <a href="/Expertise/Delete/@item.ExpertiseId" class="btn btn-outline-danger">Sil</a>
                <a href="/Expertise/Update/@item.ExpertiseId" class="btn btn-outline-warning">Güncelle</a>
            </td>
      
        </tr>
    }


</table>

<br />

<a href="/Expertise/Create" class="btn btn-outline-success">Yeni Uzmanlık Ekle</a>




